*{
    margin: 0;
    padding-left: 10;
    background-color: aquamarine;
}
img{
    width: 10%;
}
h1{
    color: darkblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
h2{
    font-size: large;
}
#about{
    text-align: center;
    font-family: 'Segoe UI';
    font-style: italic;
    color: darkblue;
}
#academic{
    color: darkblue;
}
#skill{
    color: darkblue;
}
footer{
    color: darkblue;
}
li{
    list-style-type: circle;
}